body {
    margin: 0;
}

h1 {
    font-size: 16px;
    font-weight: 500;
    margin: 0.5rem 0;
    text-align: center;
}

.layout {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    margin: 2rem;
}

@media screen and (min-width: 720px) {
    .layout {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        max-height: calc(100vh - 6rem);
    }
  }